@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
    padding: 20px 20px;
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 250vh;
}
h1{
    text-align: center;
    color: darkgoldenrod;
    margin-bottom: 5px;
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-size: 4em;
    font-style: normal;
}

h2{
    color: #FFE4C4;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}


#tazacafe{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
#contenedorimg{
    text-align: center;
}


#eslogan{
    padding: 0%;
    margin: auto;
    width: 40%;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    font-size: 2em;
    color: cornsilk;
    border: 2px solid cornsilk;
    
}

ul li{
    color: white;
}

li a{
    color: white;
    font-size: 2em;
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}
a:link{ 
    color: white;
}
a:hover{
    font-weight: bold;
}
a:active{
    color: darkgoldenrod;
}


#descripcion{
    padding: 30px;
    color: #FFE4C4;
    line-height: 2;
    text-align: justify;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}